body[data-size] {
  padding: 10px;
  margin: 0;
}
body[data-size=a1] {
  max-width: 2245px;
}
body[data-size=a2] {
  max-width: 1587px;
}
body[data-size=a3] {
  max-width: 1123px;
}
body[data-size=a4] {
  max-width: 794px;
}
body[data-size=a5] {
  max-width: 559px;
}
